<br><br><br>
    <div>
     	<h2 class="title accent-text"><%= @user.first_name %> <%= @user.last_name %></h2>
    </div>

<% if current_user && current_user != @user %>
<% end %>


<!-- The second value will be selected initially -->
<h3>Please Select an option for your motivational reminder</h3>
<select name="select">

  <option> Please Select One</option>
  <% @option.each do |option| %>
  <option><%=  option.name %> </option><br>
  <% end %>
</select><br><hr>

  <ol>
    <% for question in @goal.steps %>
      <li><%=h step.name %></li>
    <% end %>
  </ol>
<P>
 <%= link_to( "goals", new_goal_path) %><br><br>

 <a link href="user/goal" class="btn btn-primary" href="#" role="button">edit goal and steps</a><br><br>
</P>
