<br><br><br>
<div class="container text-center">
  <div class="well">
    <h1>Create a new Goal with 6 steps to achievement!<h1>
        <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/3d-transparent-glass-icons-sports-hobbies/041933-3d-transparent-glass-icon-sports-hobbies-cup-trophy.png">
      </div>
      <hr>
    </div>

    <div class="container text-center">

      <div class="well well-sm">
        <h4>
          <%= form_for @goals, url: {action: "create" } do |f| %>
          <p>
            <%= f.label :name, "What's Your Goal" %><br/>
            <%= f.text_field :name %>
          </p>
        </p>
        <h6>
          <%= f.check_box :_destroy %>
          <%=  f.label :_destroy, "Remove" %>
        </h6>
      </p>
    </div>

    <div class="well well-sm">
      <h4>Create the Six Steps that will move you towards you goal</h4><br>
      <%= f.fields_for :steps do |builder| %>
      <p>
        <%= builder.label :name, "Goal Step" %><br>
        <%= builder.text_field :name %>
      </p>
      <p>
        <h6>
          <%= builder.check_box :_destroy %>
          <%= builder.label :_destroy, "Remove" %>
        </h6>
      </p>

      <% end %>
    </div>
    <p><%= f.submit "Submit" %></p>
    <% end %>
  </div>
